<%= form_for [@topic, @slide], html: {class: "slideform"} do |f|%>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <label>HTML</label>
    <div id = "editor"><%= f.text_area :htmlBody %></div>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-success" id= "confirmBtn" onclick="confirm()">Confirm</button>
    <%= f.submit class: 'btn btn-primary', disabled: 'disabled', id: 'submitBtn'%>

  </div>

<% end %>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/html_ruby");

    // var document.getElementById("editor");
    // <input type="number" value="1" name="slide[number]" id="slide_number">
    function confirm()
    {
      var forms = document.getElementsByClassName("slideform");
      var form = forms[0];
      var input = document.createElement("input");

      input.setAttribute("type", "hidden");

      input.setAttribute("name", "slide[htmlBody]");

      input.setAttribute("id", "slide_htmlBody");

      input.setAttribute("value", editor.getValue());

      form.appendChild(input);

      editor.setReadOnly(true);

      document.getElementById("submitBtn").removeAttribute("disabled");
      document.getElementById("confirmBtn").setAttribute("disabled", "disabled");
    }
</script>
