<p id="notice"><%= notice %></p>

<p>
  <strong>Htmlbody:</strong>
  <%= @slide.htmlBody %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @slide.topic %>
</p>

<%= link_to 'Edit', edit_topic_slide_path %> |
<%= link_to 'Back', topic_slides_path %>
