<p id="notice"><%= notice %></p>

<p>
  <strong><%= @problem.section.name %></strong>
  <strong> | <%= @problem.name %></strong>
</p>

<%= render :inline => @problem.content %>

<%= render 'layouts/editor' %>

<button style="float: right;" class="btn btn-success">Submit Solution</button><br><br>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_section_problem_path(@problem.section,@problem), :class => 'btn btn-info'%>
<% end %>
<%= link_to 'Back', section_problems_path(@problem.section), :class => 'btn btn-danger' , :style => 'float: right;' %>
