<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @problem.content %>
</p>

<p>
  <strong>Section:</strong>
  <%= @problem.section.name %>
</p>

<%= link_to 'Edit', edit_section_problem_path(@problem.section,@problem) %> |
<%= link_to 'Back', section_problems_path(@problem.section) %>
