<h1>Sections</h1>
  <% @sections.each do |section| %>
  <div class="center jumbotron">
  <div class="container">
    <div class="row">
      <!-- <%  imagePath = "sections/" + section.name + ".png" %>
      <%= image_tag(imagePath, :alt => "section image") %> -->
      <h2><%= section.name %></h2>
      <% if current_user.admin? %>
      <div class="btn-group" role="group">
        <%= link_to 'Add Problem', new_section_problem_path(section), :class => "btn btn-success" %>
        <%= link_to 'Show', section, :class => "btn btn-info" %>
        <%= link_to 'Edit', edit_section_path(section), :class => "btn btn-warning" %>
        <%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      </div><br><br>
      <% end %>
      <div class="container">
        <div class="row">
          <% section.problems.each do |problem| %>
          <div class="col" style="display: inline-block; margin-right:40px">
            <h3><%= link_to problem.name, section_problem_path(section, problem) %></h3>
            <% if current_user.admin? %>
            <div class="btn-group" role="group">
              <%= link_to 'Edit', edit_section_problem_path(section, problem), :class => "btn btn-warning"%>
              <%= link_to 'Destroy', section_problem_path(section, problem), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            </div><br><br>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
<br>
<% if current_user.admin? %>
  <%= link_to 'New Section', new_section_path, :class => "btn btn-success", :style => "float: right;"%>
<% end %>
