<h1>Chapters</h1>
  <% @chapters.each do |chapter| %>
  <div class="center jumbotron">
  <div class="container">
    <div class="row">
      <%  imagePath = "chapters/" + chapter.number.to_s + ".png" %>
      <%= image_tag(imagePath, :alt => "chapter image") %>
      <h2><%= chapter.name %></h2>
      <% if current_user.admin? %>
      <div class="adminBtns btn-group" role="group">
        <button type="button" class="btn btn-success"><%= link_to 'Add Topic', new_chapter_topic_path(chapter) %></button>
        <button type="button" class="btn btn-info"><%= link_to 'Show', chapter %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_chapter_path(chapter) %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div><br><br>
      <% end %>
      <div class="container">
        <div class="row">
          <% chapter.topics.each do |topic| %>
          <%  imagePath = "topics/" + topic.number.to_s + ".png" %>
          <div class="col" style="display: inline-block; margin-right:40px">
            <%=image_tag(imagePath, :alt => "topic image") %>
            <h3><%= link_to topic.title, chapter_topic_path(chapter, topic) %></h3>
            <% if current_user.admin? %>
            <div class="adminBtns btn-group" role="group">
              <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_chapter_topic_path(chapter, topic) %></button>
              <button type="button" class="btn btn-danger"><%= link_to 'Destroy', chapter_topic_path(chapter, topic), method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div><br><br>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="progress">
    <%= content_tag(:div, "", class: ["progress-bar", "progress-bar-info", "progress-bar-striped"], role: "progressbar", 'aria-valuenow': "0", 'aria-valuemin': "0", 'aria-valuemax': chapter.topics.size)%>
  </div>
  <p>0/<%= chapter.topics.size %></p>
</div>
  <% end %>
<br>
<% if current_user.admin? %>
<div class="adminBtns btn btn-success" style="float:right;"><%= link_to 'New Chapter', new_chapter_path %></div>
<% end %>
