<h1>Chapters</h1>
<div class="center jumbotron"
<% @chapters.each do |chapter| %>
  <tr>
    <%  imagePath = "chapters/" + chapter.number.to_s + ".png" %>
    <%= image_tag(imagePath, :alt => "chapter image") %>
    <h2><%= chapter.name %></h2>
  </tr>
  <% if current_user.admin? %>
    <div class="adminBtns btn-group" role="group">
      <button type="button" class="btn btn-info"><%= link_to 'Show', chapter %></button>
      <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_chapter_path(chapter) %></button>
      <button type="button" class="btn btn-danger"><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div><br><br>
    <% end %>
<% end %>
</div>
<br>
<% if current_user.admin? %>
  <div class="adminBtns btn btn-success" style="float:right;"><%= link_to 'New Chapter', new_chapter_path %></div>
<% end %>
