<p>
  <strong>Number:</strong>
  <%= @chapter.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Image:</strong>
  <%  imagePath = "chapters/" + @chapter.number.to_s + ".png" %>
  <%= image_tag(imagePath, :alt => "chapter image") %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter), :class => "btn btn-success" %> |
<%= link_to 'Back', chapters_path, :class => "btn btn-warning" %>
